/* remove bottom margin from jumbotron */
.jumbotron {
  margin-bottom: 0;
}

.h1Styling {
  background-color: rgb(189, 160, 248);
  padding: 1rem 1rem 1rem 10vw;
  left: 0px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* keeping name to right side */
#nameLabel {
  background-color: rgb(189, 160, 248, 0.5);
  padding: 0.5rem 10vw 0.5rem 0.5rem;
  right: 0px;
  font-size: 2.5rem;
  margin-top: 70px;
}

.h2Styling {
  background-color: rgb(189, 160, 248, 0.5);
  padding: 0.5rem 0.5rem 0.5rem 10vw;
  left: 0px;
}

.container-fluid {
  padding: 0;
}

.h5Styling {
  background-color: rgb(189, 160, 248, 0.5);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  z-index: 1;
  bottom: 5vh;
  top: 15vh;
  right: 50%;
}

/* height to header and navbar */
header,
#nav {
  height: 120px
}

/* keep hamburger to right */
.navbar {
  justify-content: right;
}

.nav-link {
  color: white !important;
}

.moveNav {
  text-align: right;
}

.navbar-toggler {
  border-color: white !important;
}


#hero {
  width: 100vw;
  padding: 0;
}

/* My image under heading */
#portrait {
  margin-left: 15vw;
  position: absolute;
}

.jumbotron {
  padding: 0 !important;
}

main,
footer {
  background-color: rgb(189, 160, 248, 0.5);
}

/* central column container */
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* responsive images */
.card-img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  position: relative;
  border: 5px solid rgb(189, 160, 248, 0.5);
}

/* Don't cut head off sheep */
#project4 {
  object-position: top;
}

/* align to images  and responsive space */
#aboutMe,
#skills,
#contactMe {
  padding-left: 2vw;
  padding-right: 8vw;
}

/* format content, align to images */
.card-body {
  padding: 5vh 0;
  background-color: rgb(189, 160, 248, 0.5);
}

/* center links in contact me section */
#contactMe .card-body {
  text-align: center;
}

.card-body ul {
  column-count: 2;
  column-gap: 2rem;
  list-style: none;
  padding: 0;
}

@media (min-width: 992px) {

  #aboutMe,
  #skills,
  #contactMe {
    padding-right: 10vw;
  }
}