/* remove bottom margin from jumbotron */
.jumbotron {
  margin-bottom: 0;
}

.h1Styling {
  background-color: rgb(189, 160, 248);
  padding: 1rem 1rem 1rem 15vw;
  left: 0px;
}

/* keeping name to right side */
#nameLabel {
  background-color: rgb(189, 160, 248, 0.5);
  padding: 0.5rem 10vw 0.5rem 0.5rem;
  right: 0px;
  font-size: 2.5rem;
}

.h2Styling {
  background-color: rgb(189, 160, 248, 0.5);
  padding: 0.5rem 0.5rem 0.5rem 10vw;
  left: 0px;
}

.h5Styling {
  background-color: rgb(189, 160, 248, 0.5);
  color: black;
  display: inline-flex;
}

.h5Styling ~ p {
  background-color: rgb(189, 160, 248, 0.5);
  color: black;
}

/* move Name  background to left edge */
.container {
  margin: auto 0 !important;
  padding-left: 0 !important;
}

/* keep hamburger to right */
.navbar {
  justify-content: right;
}

.nav-link {
  color: white !important;
}

.moveNav {
  text-align: right;
}

.navbar-toggler {
  border-color: white !important;
}

#hero {
  width: 100vw;
  padding: 0;
}

/* not displaying image in HTML */
#heroBanner {
  display: none;
}

/* display banner via CSS for text control */
#jumboBanner {
  background-image: url(../images/02-hero-bg.jpg);
  background-color: #cccccc;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#portrait {

  margin-left: 15vw;
}

main {
  background-color: rgb(189, 160, 248, 0.5);
}

/* central column container */
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

.all-columns {}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .all-columns {}



  /* // Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {}
}